<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration SYSTEM
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name = "hibernate.dialect">org.hibernate.dialect.MySQL8Dialect</property>
        <property name = "hibernate.dialect.storage_engine">innodb</property> 
        <property name = "hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name = "hibernate.connection.username">example_db_user</property>
        <property name = "hibernate.connection.password">example_db_pass</property>
        <property name = "hibernate.connection.url">jdbc:mysql://localhost:3306/example_db</property>

        <!--<property name = "hibernate.show_sql">true</property>-->
 
 		<mapping class = "de.hitec.oaidashboard.database.datastructures2.Repository" />
 		<mapping class = "de.hitec.oaidashboard.database.datastructures2.HarvestingState" />
 		<mapping class = "de.hitec.oaidashboard.database.datastructures2.MetadataFormat" />
        <mapping class = "de.hitec.oaidashboard.database.datastructures2.OAISet" />
        <mapping class = "de.hitec.oaidashboard.database.datastructures2.StateSetMapper" />
        <mapping class = "de.hitec.oaidashboard.database.datastructures2.Record" />

    </session-factory>
</hibernate-configuration>