<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration SYSTEM
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name = "hibernate.dialect">org.hibernate.dialect.MySQL8Dialect</property>
        <property name = "hibernate.dialect.storage_engine">innodb</property> 
        <property name = "hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name = "hibernate.connection.username">example_db_user</property>
        <property name = "hibernate.connection.password">example_db_pass</property>
        <property name = "hibernate.connection.url">jdbc:mysql://db:3306/example_db?useUnicode=yes&amp;characterEncoding=UTF-8</property>

        <!--<property name = "hibernate.show_sql">true</property>-->
        <!--<property name = "hibernate.format_sql">true</property>-->
        <!--<property name = "hibernate.use_sql_comments">true</property>-->

        <mapping class = "de.uni_hamburg.sub.oaidashboard.database.datastructures.Repository" />
 		<mapping class = "de.uni_hamburg.sub.oaidashboard.database.datastructures.HarvestingState" />
        <mapping class = "de.uni_hamburg.sub.oaidashboard.database.datastructures.LicenceCount" />
        <mapping class = "de.uni_hamburg.sub.oaidashboard.database.datastructures.SetCount" />
        <mapping class = "de.uni_hamburg.sub.oaidashboard.database.datastructures.DCFormatCount" />
        <mapping class = "de.uni_hamburg.sub.oaidashboard.database.datastructures.MetadataFormat" />

    </session-factory>
</hibernate-configuration>